@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

:root {
    --Green: #65ac70;
    --Yellow: #f9ee75;
    --Blue: #5ab0c7;
    --Red: #ee5f5d;
    --Purple: #88579d;
    --Orange: #efb323;
    --Black: #161616;
    --Grey: #e5e5e5;
    --DarkGrey: #6a6a6a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Karla", sans-serif;
}

p {
    font-family: "Spectral", serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.main-nav {
    background-color: #e0bbbb;
    padding: 0%;
    margin: 0%;
}

.main-menu {
    background-color: #7fd4fb;
    display: flex;
    flex-direction: column;

}

.site-name-container {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.menu-item {
    border: #161616 solid 1px;
    padding: 5px 0px;
    background-color: #65ac70;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-size: x-large;
    justify-content: space-evenly;
    align-items: center;
}

.deck {
    background-color: #ababab;
    text-align: center;
    border: #161616 solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: yellowgreen;
    padding: 1%;
    width: 30%;
    border: black solid 1px;
}

.small-img {
    width: 100%
}

.page {
    background-color: #efb323;
    border: solid red 1px;
}