@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

:root {
    --Green: #65ac70;
    --Yellow: #f9ee75;
    --Blue: #5ab0c7;
    --Red: #ee5f5d;
    --Purple: #88579d;
    --Orange: #efb323;
    --Black: #161616;
    --Grey: #e5e5e5;
    --DarkGrey: #6a6a6a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Karla", sans-serif;
}

p {
    font-family: "Spectral", serif;
    margin: 10px 0px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding: 2%;
}

.main-nav {
    padding: 0%;
    margin: 0%;
}

.info {
    margin: 3%;
    padding: 1%;
    border-radius: 10px;
}

.main-menu {
    display: flex;
    flex-direction: column;

}

.site-name-container {
    margin: 3%;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
    border: #161616 solid 2px;
    border-radius: 10px;
}

.menu-item {
    padding: 3px 0px;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-size: large;
    justify-content: space-evenly;
    align-items: center;
    border: #161616 solid 2px;
    border-radius: 10px;
    margin: .5% 20%;
}

.page {
    margin: 3%;
    padding: 1%;
    border: #161616 solid 2px;
    border-radius: 10px;
}

.clayton-img {
    width: 50%;
    display: block;
    margin: auto;
    padding: 10%;
    border-radius: 100%;
}

.page-headings {
    padding-top: 5%;
}

.deck {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 1%;
    width: 30%;

}

.small-img {
    width: 100%
}

.portfolio-headings {
    width: 100%;
    padding: 2%
}


.contact-form {
    margin: 3%;
    padding: 1%;
    border-radius: 10px;
}

.footer {
    background-color: #161616;
    height: 300px;
    color: #6a6a6a;
    padding: 10%;
    text-align: center;
}

@media screen and (min-width: 650px) {

    h1 {}


    .main-nav {
        display: flex;
        justify-content: space-between;
    }

    .info {
        border: #161616 solid 2px;
        width: 60%;
        margin: 5px;

    }

    .main-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin: 20px;
    }

    .site-name-container {
        margin: 20px;
        padding: 20px;
    }

    .menu-item {
        margin: 5px;
        padding: 10px;

    }

    .about-page {
        margin: 20px;
        display: flex;
        justify-content: center;

    }

    .contact-page {
        margin: 20px;
        display: flex;
        justify-content: center;

    }

    .contact-form {
        border: #161616 solid 2px;
        width: 60%;
        margin: 5px;
    }

    .main-about-line {
        padding: 25px;
    }

    .clayton-img {
        width: 20%;
        padding: 0%;
    }

    .page-headings {
        margin: 10px;
        padding: 10px;
        text-align: left;
    }

    .page-text {
        padding: 25px;
    }

    .deck {}

    .card {}

    .small-img {}

    .portfolio-headings {}


    .contact-form {}

    .footer {}


}